{% extends 'base.html.twig' %}

{% block title %}A propos
{% endblock %}

{% block body %}
	<h1>Le Garage Vincent Parrot vous accueille à Toulouse</h1>
	<p>Vincent Parrot, fort de ses 15 années d'expérience dans la réparation automobile, a ouvert
		<br/>
		son propre garage à Toulouse en 2021.
		<br/><br/>
		Depuis 2 ans, il propose une large gamme de services: réparation de la carrosserie et de la
		<br/>
		mécanique des voitures ainsi que leur entretien régulier pour garantir leur performance et
		<br/>
		leur sécurité. De plus, le Garage V. Parrot met en vente des véhicules d'occasion afin
		<br/>
		d'accroître son chiffre d'affaires.
		<br/><br/>
		Vincent Parrot considère son atelier comme un véritable lieu de confiance pour ses clients et
		<br/>
		leurs voitures doivent, selon lui, à tout prix être entre de bonnes mains.
		<br/>
		Depuis 2021, le Garage V. Parrot a su fidéliser une clientèle de particuliers et de
		<br/>
		professionnels grâce à son professionnalisme et à la qualité de ses prestations.
		<br/><br/>
		Le Garage V. Parrot est ouvert du lundi au vendredi de 8h45 à 12h et de 14h à 18h, le samedi de 8h45 à 12h.
		<br/>
		Le Garage V. Parrot est situé au 1 quai Général De Gaulles à Toulouse.
		<br/>
		Nous vous attendons.
	</p>
{% endblock %}
