<footer class="footer">
	<h5>
		Rejoignez nous sur nos réseaux sociaux
		<a href="#">INSTAGRAM
			<i class="fi fi-brands-instagram"></i>
		</a>
		<a href="#">FACEBOOK
			<i class="fi fi-brands-facebook"></i>
		</a>
		<a href="#">LINKEDIN
			<i class="fi fi-brands-linkedin"></i>
		</h5>
		<h6>Copyright © 2024 Projet étudiant de Daniel Gros promotion Nivat école Studi</h6>
	</footer>
